form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border-radius: 5px;
    background-color: var(--dark-blue);
    width: 82.5%;
    max-width: 350px;
    box-shadow: 2px 2px 10px 0 var(--dark-blue);
}

form label {
    font-size: 22px;
    text-align: center;
}

#input-field {
    padding: 7px;
    background-color: transparent;
    border: 2px solid var(--white);
    border-radius: 5px;

    &::placeholder {
        color: var(--white);
    }
}

form button {
    padding: 7px;
}
