@import url("./form.css");
@import url("./list.css");

:root {
    --dark-blue: #6482AD;
    --light-blue: #b1d0f0;
    --white: #F5EDED;
}

* {
    margin: 0;
    padding: 0;
    font-size: 18px;
    color: var(--white);
}

body {
    background-color: var(--light-blue);
}

header {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    height: 60px;
    background-color: var(--dark-blue);
    align-items: center;
    position: sticky;
    top: 0;
    box-shadow: 0 3px 10px 0 var(--dark-blue);
}

header h2 {
    font-size: 24px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    gap: 50px;
}

button {
    padding: 5px;
    background-color: var(--white);
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: var(--dark-blue);
    transition: background-color 0.5s ease-out, color 0.5s ease-out;

    &:hover {
        background-color: var(--light-blue);
        color: var(--white);
    }
}
