:root {
    --dark-blue: #6482AD;
    --light-blue: #7FA1C3;
    --white: #F5EDED;
}

* {
    margin: 0;
    padding: 0;
    font-size: 18px;
    color: var(--white);
}

body {
    background-color: var(--light-blue);
}

header {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    height: 60px;
    background-color: var(--dark-blue);
    align-items: center;
}

header h2 {
    font-size: 24px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    gap: 50px;
}

#list-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border-radius: 15px;
    background-color: var(--dark-blue);
    width: 82.5%;
    max-width: 350px;
}

#list-form label {
    font-size: 22px;
    text-align: center;
}

#input-field {
    padding: 7px;
    background-color: transparent;
    border: 2px solid var(--white);
    border-radius: 15px;

    &:focus {
        outline: none;
    }
    &::placeholder {
        color: var(--white);
      }
}

#list-form button {
    padding: 7px;
    background-color: var(--white);
    border-radius: 15px;
    border: none;
    cursor: pointer;
    color: var(--dark-blue);
    transition: background-color 0.5s ease-out, color 0.5s ease-out;

    &:hover {
        background-color: var(--light-blue);
        color: var(--white);
    }
}

#list-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border-radius: 15px;
    background-color: var(--dark-blue);
    width: 82.5%;
    max-width: 350px;
    margin-bottom: 50px;
    opacity: 0;
}

#list-container.fade-in {
    opacity: 1;
    transition: opacity 0.5s ease;
}

#list-container.fade-out {
    opacity: 0;
    transition: opacity 0.35s ease;
}

#list-container h2 {
    font-size: 22px;
    font-weight: normal;
    text-align: center;
}

#list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: fit-content;
    transition: height 0.2s ease;
}

#list li {
    opacity: 0;
    display: flex;
    gap: 5px;
    border-width: 2px;
    border-top-style: solid;
    padding-top: 10px;
    transform: translateY(-20px);
}

#list li.slide-in {
    opacity: 1;
    transform: translateY(0px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

#list li.slide-out {
    opacity: 0;
    transform: translateX(-20px);
    transition: opacity 0.35s ease, transform 0.35s ease;
}

#list li p {
    word-wrap: break-word;
    width: calc(100% - 63px);
}

#list li button {
    height: fit-content;
    font-size: 16px;
    padding: 5px;
    background-color: var(--white);
    border-radius: 8px;
    border: none;
    cursor: pointer;
    color: var(--dark-blue);
    transition: background-color 0.5s ease-out, color 0.5s ease-out;

    &:hover {
        background-color: var(--light-blue);
        color: var(--white);
    }
}
